<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->
<div id="background">
<div id="opacity">

<h1 id="final_fantasy">Final Fantasy</h1> 
<h1 id="creature_finder">Creature Finder</h1>

<h2><%= link_to "Find Creatures", creatures_path, id:"a" %></h2>

</div>

</div>


